<?xml version="1.0"?>
<!--
/**
 * @category    M2Commerce Enterprise
 * @package     M2Commerce_ProductReviewWithImages
 * @copyright   Copyright (c) 2023 M2Commerce Enterprise
 * @author      dawoodgondaldev@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_save_after">
        <observer name="m2c.admin.product.review.save.after" instance="M2Commerce\ProductReviewWithImages\Observer\AdminProductReviewSaveAfter" />
    </event>
    <event name="review_delete_before">
        <observer name="m2c.admin.product.review.delete.before" instance="M2Commerce\ProductReviewWithImages\Observer\AdminProductReviewDeleteBefore" />
    </event>
</config>
